.footer 
{
    background-color: rgb(249, 243, 227);
    color: #212529;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
